* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding:20px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0056b3; 
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 5px; 
}

.header-container {
    display: flex; 
    justify-content: center;
    align-items: stretch; 
    gap: 20px; 
    width: 100%; 
    max-width: 1200px;
    margin: 0;
    padding: 0 20px; 
}

.header-left {
    display: flex; 
    align-items: center;
    gap: 10px; 
    justify-content: flex-start; 
    flex: 1; 
}

.header-right {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; 
    flex: 0;
}

.app-logo {
    width: 40px; 
    height: auto; 
}

.header-container h1 {
    font-size: 1.5rem; 
    margin: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.dashboard-main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.dashboard-section {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fixed-size {
    max-width: 90%; 
    width: 90%; 
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.dashboard-section h2 {
    color: #005A9E;
    margin-bottom: 10px;
}

.search-header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 10px; 
    text-align: center; 
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-button {
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    background-color: #0078D7;
    color: white;
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-button.active {
    background-color: #ffaa00;
    color: white;
    font-weight: bold;
}

.search-title {
    font-size: 1.8rem; 
    color: #0056b3; 
    margin-bottom: 15px; 
}

.filter-group {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-group h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #0056b3;
    text-align: center;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.category-icon {
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    background-color: #e0e0e0;
    color: #333;
}

.category-icon:hover {
    background-color: #c7c7c7;
}

.category-icon.active {
    background-color: #ffaa00; 
    color: white;
    font-weight: bold;
}

button {
    display: inline-block;
    padding: 8px 12px; 
    font-size: 0.9rem; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    background-color: #0078D7; 
    color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-weight: 500; 
}

button:hover {
    background-color: #005A9E; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
    box-shadow: none;
}

.header-right button {
    padding: 6px 12px; 
    font-size: 0.8rem; 
    margin: 0 5px;
    border: none;
    border-radius: 5px; 
    background: linear-gradient(to right, #ffffff, #dbeeff);
    color: #005A9E; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-weight: 500;
    transition: all 0.3s ease; 
}

.header-right button:hover {
    background: linear-gradient(to right, #dbeeff, #b0d8ff); 
    color: #003E70; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

.header-right button:active {
    background: linear-gradient(to right, #b0d8ff, #91c7ff); 
    transform: translateY(0); 
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
    text-align: center; 
}

.hidden {
    display: none;
    opacity: 0;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    animation: fadeIn 0.3s ease;
}

.modal-content form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    align-items: center; 
}

.modal-content form label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 90%; 
}

.modal-content form input,
.modal-content form select {
    width: 90%; 
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

.modal-content form input:focus,
.modal-content form select:focus {
    border-color: #0056b3; 
    outline: none;
}

.modal-content form .form-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0078D7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-content form .form-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.close-button {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    border: none;
    background: none;
}

.modal-content h2 {
    font-size: 1.8rem;
    color: #0056b3;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content form .error-message {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: -10px;
    text-align: center;
}

.modal-content .link-button {
    color: #0078D7;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-content .link-button:hover {
    color: #0056b3;
    text-decoration: none; 
}

.modal-content p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    border: none;
    background: none;
}

#auctions-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start;
    padding: 20px;
}

.auction {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    width: 300px; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.auction:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.auction h3 {
    font-size: 1.5rem;
    color: #0056b3;
    margin-bottom: 10px;
}

.auction p {
    margin: 10px 0;
    color: #333;
}

.auction .view-details {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.auction .view-details:hover {
    background-color: #0056b3;
}

.time-remaining {
    color: #0078D7;
    font-weight: bold;
}

.expired-message {
    color: #d9534f;
    font-weight: bold;
}

#user-auctions-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
    padding: 20px;
}

#update-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

#update-profile-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#update-profile-form .form-button {
    align-self: center;
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#update-profile-form .form-button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    color: #0056b3;
    text-align: left;
}

form input, form textarea, form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    font-family: Arial, sans-serif; 
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    resize: vertical;
}

form .form-button {
    align-self: center;
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
}

form .delete-button {
    background-color: #d9534f;
}

form .form-button:hover {
    background-color: #0056b3;
}

form .delete-button:hover {
    background-color: #b52a1f;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin-top: 20px;
}

.auction-bids,
.auction-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow: hidden;
    flex-direction: column; 
}

.auction-details,
.bids-list p {
    margin: 10px 0;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
}

.bids-list ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.bids-list li {
    margin-bottom: 10px;
    font-size: 0.95rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

form#bid-form {
    margin: 0; 
    padding: 0;
}

.bid-input-container {
    display: flex;
    gap: 10px; 
    align-items: center;
    margin-top: 10px;
}

.user-page .dashboard-main {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
}

#search-user-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-user-bar:focus {
    border-color: #0078D7;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 120, 215, 0.3);
}

#user-list .user {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px; 
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-list .user span {
    font-size: 1rem;
    color: #333; 
    flex-grow: 1; 
    margin-right: 10px; 
}

#user-list .view-auctions-button {
    background-color: #0078D7; 
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#user-list .view-auctions-button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

#user-auctions {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-auctions h2 {
    color: #0056b3;
    margin-bottom: 20px;
}

#user-won-auctions {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
    padding: 10px; 
}

#user-won-auctions .auction {
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    width: 270px; 
    display: flex;
    flex-direction: column; 
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#user-won-auctions .auction:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#user-won-auctions .auction h4 {
    font-size: 1.2rem;
    color: #0056b3;
    margin-bottom: 10px;
}

#user-won-auctions .auction p {
    margin: 5px 0; 
    color: #333;
}

#user-won-auctions .auction strong {
    font-weight: bold;
}
